.rounded-border {
    border-top-left-radius: 55px;
    border-bottom-right-radius: 55px;
}

.shadow{
    box-shadow: 0 5px 20px rgb(0 0 0 / 0.15);
}

.rounded-border-btn{
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}